<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/main.css">
</head>
  <body>
    <h1>Database</h1>
    <ul>
      <% results.forEach(function(result, index) { %>
        <li>
          <%- result.uuid %>
          <%- result.member %>
          <%- result.item %>
          <%- result.resolved %>
          <%- result.assigned %>
          <%- result.description %>
          <%- result.picture %>
          <%- result.time %>
          ---------------------------
        </li>
      <% }); %>
    </ul>
  </body>
</html>
