<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="./main.css">
</head>
  <body>
    <h1>To Do: (redesign into an actual table)</h1>
    <ul>
      <% tickets.forEach(function(ticket, index) { %>
        <li>
          Time: <%- ticket.time %> -- <br>
          UUID: <%= ticket.uuid %> -- <br>
          Item: <%= ticket.item %> -- <br>
          Member: <%= ticket.member %> -- <br>
          Description: <%= ticket.description %> -- <br>
          Picture: <%= ticket.picture %> -- <br>
          Assigned to: <%= ticket.assigned %> -- <br>
          Resolved: <%= ticket.resolved %> -- (needs to be turned into a modify link) <br>
          Delete:
          <form action="/tickets/delete/<%= ticket.uuid %>" method="delete">
            <p>
              <label for="delete">Delete?</label>
              <input type="submit" />
            </p>
          </form>
          -----------------------------------------------
        </li>
      <% }); %>
    </ul>
  </body>
</html>
