<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="./main.css">
</head>
  <body>
    <h1>To Do: (redesign into an actual table)</h1>
    <table style="width:100%">
      <tr>
        <th>Time</th>
        <th>UUID</th>
        <th>Item</th>
        <th>Member</th>
        <th>Description</th>
        <th>Picture</th>
        <th>Assigned</th>
        <th>Resolved</th>
        <th>Delete</th>
      </tr>
      <% tickets.forEach(function(ticket, index) { %>
        <tr>
          <td><%- ticket.time %></td>
          <td><%= ticket.uuid %></td>
          <td><%= ticket.item %></td>
          <td><%= ticket.member %></td>
          <td><%= ticket.description %></td>
          <td><%= ticket.picture %></td>
          <td><%= ticket.assigned %></td>
          <td><%= ticket.resolved %></td>
          <td>
            <form action="/tickets/delete/<%= ticket.uuid %>" method="delete">
              <input type="submit" />
            </form>
          </td>
        </tr>
      <% }); %>
    </table>
  </body>
</html>
