<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="./main.css">
</head>
  <body>
    <h1>To Do:</h1>
    NEED to redesign all of this
    <ul>
      <% tickets.forEach(function(ticket, index) { %>
        <li>

          Time: <%- ticket.time %> -- <br>
          ID: <%= ticket.id %> -- <br>
          Name: <%= ticket.name %> -- <br>
          Updated: <%= ticket.update %> -- <a href="/tickets/update/<%= index %>">Update Now?</a> -- <br>
          Comepleted: <a href="/tickets/delete/<%= index %>">Task completed?</a>
        </li>
      <% }); %>
    </ul>
  </body>
</html>
